.acc-ell-info-root {
	display: flex;
	flex-direction: column;
	width: 80%;
	font-size: 30px;
	font-family: monospace;
	padding: 0.8rem 0.5rem;
	border: solid 5px #f1916d;
	border-radius: 30px;
	box-sizing: border-box;
	background-color: #bd83b8;
	height: 88%;
}

.acc-ell-photo-label-country {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	padding-inline: 0.3rem;
}

.acc-ell__label-country {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

.acc-ell__description {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding-inline: 0.5rem;
	font-size: 30px;
	height: 280px;
	background-color: #f5d7d8;
	border: solid 5px #f1916d;
	font-family: monospace;
	color: #06142e;
	&:focus {
		outline: 0;
	}
}

.acc-ell__photo {
	display: flex;
	width: 180px;
	height: 250px;
}

.inpt-place-name,
.inpt-city {
	display: flex;
	width: 80%;
	padding: 0.9rem;
	margin-bottom: 2%;
	border-radius: 20px;
	background-color: #f5d7d8;
	border: solid 5px #f1916d;
	font-family: monospace;
	color: #06142e;
	font-size: 20px;
	&:focus {
		outline-width: 0;
	}
}

