.acc-ell-header {
	display: flex;
	width: 80%;
	border-radius: 20px;
	background-color: #bd83b8;
	border: solid 5px #f1916d;
	color: #06142E;
	align-items: center;
	justify-content: space-around;
	padding: 0.8rem 0.2rem;
	font-size: 30px;
	font-family: monospace;
	font-weight: 600;
}
